@import url('https://fonts.cdnfonts.com/css/nevermind-semi-serif');
@import url('https://fonts.cdnfonts.com/css/river-2');

.body{
    display: flex;
    padding: 0px 20px;
    font-family:'NeverMind semi-serif', sans-serif;
    justify-content: center;
    flex-direction: column;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.landing-screen{
    display: flex;
    flex-direction: column;

    align-self: center;
    width: 100%;
    max-width: 1700px;
    min-width: 1200px;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1900px;
    min-width: 1200px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0px;

}
.logo > img{
    max-width: 170px;
    height: 100px;
}

.logo > h1{
    color: black;
    margin: 0px;
}

.nav{
    display: flex;
    gap: 50px;
}

.nav > a{
    text-decoration: none;
    color: black;
}

.nav > a:hover{
    text-decoration: underline;
    color: midnightblue;
}

.nav-buttons{
    display: flex;
    gap: 20px
}

.nav-buttons > button, .hero-left > button{
    display: flex;
    padding: 5px 20px;
    border: none;
    font-size: 20px;
    background-color: #f6f8fa;
    border-radius: 5px;
    font-family: 'NeverMind semi-serif', sans-serif;
}

.nav-buttons > button:hover, .hero-left > button:hover{
    background-color: lightgrey;
}

.hero-section{
    display: flex;
    gap: -200px;
    padding: 60px 20px;
    align-items: center;
    font-size: 23px;
    background: url("./assets/bg.jpg") no-repeat;
    background-size: cover;
}

.hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 5;
    width: 170%;
    padding: 30px;
}

.hero-left > h1{
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'River', sans-serif;
}

.hero-left > h1> span{
    color: #2b78af;

}

.hero-left > p{
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 60%;
}

.hero-right{
    width: 150%;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: -180px;
}

.hero-right> img{
    width: 100%;
    border-radius: 50px;
}


.about-us{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;
}

.about{
    display: flex;
    gap: 80px;
}

.about-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.about-right >  h1 > span{
    color: #2b78af;
}

.about-right > p{
    width: 90%;
    font-size: 20px;
}

.about > img{
    width: 50%;
    border-radius: 30px;
    border: none;
    box-shadow: black ;
}
.d-about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    gap: 10px;
}

.d-about>h1, .d-about>p{
    display: flex;
    margin: 0px;

}
.d-about>img{
    width: 70px;
}
.about-details{
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, #feffff, #e3effd);
    padding: 30px;
}

.our-services-list{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.our-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 9px;
    height: 400px;
    padding: 30px;
    background-image: linear-gradient(70deg ,#6faeda, #fafafa, #fafafa, #6faeda);
}

.service > p{
    max-width: 270px;
    align-self: center;
}

.service:hover{
    box-shadow: 10px 5px 5px lightblue;;
}







/*-------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*..........................................................................................*/


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: none;
    border: 10px solid #f6f8fa;
    border-top: 10px solid #2f98d9;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.collector{
    display: none;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

#form > button, #download{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 20%;
    background-color: #3498db;
    border: none;
    height: 25px;
    padding: 20px 20px;
    color: #f3f3f3;
    font-family: Chandas, serif;
}

#form > button:hover, #download:hover{
    width: 23%;
    background-color: #5ba7e3;
    height: 25px;
    padding: 20px 20px;
    color: #f3f3f3;
    font-family: Chandas, serif;
}

