.signup-segment {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.signup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-first{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;
    gap: 0px;
}

.cancel-button{
    border: none;
    background: none;
    color: red;
    font-size: 30px;
    align-self: flex-end;
}

.text {
    color: #333;
}

#signup-response {
    margin: 10px 0;
    color: #ff0000;
}

.details input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.account {
    margin-top: 15px;
}

.login-button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2980b9;
}