<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stiluq</title>
    <link rel="icon" href="../static/assets/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body class="body">

    <div class="main">
        <div class="nav-section">
            <div class="logo">
                <img src="../static/assets/logo.png">
                <h1>STILUQ</h1>
            </div>

            <nav class="nav">
                <a href="#landing-screen" >Home</a>
                <a href="#about_us">About us</a>
                <a href="#our_services">Services</a>
                <a href="#contact_us">Contact Us</a>
            </nav>

            <div class="nav-buttons">
                <button id="straight-login">Login</button>
                <button id="straight-signup">Sign up</button>
            </div>
        </div>



       <div class="landing-screen" id="landing-screen">
           <div class="hero-section">
               <div class="hero-left">
                   <h1>We can verify your Bulk Email. <span>Fast, Soft and Easily</span></h1>
                   <p>
                       Verify email addresses with ease and
                       confidence using our powerful Email Verification App.
                       Ensure your email lists are accurate, valid, and up-to-date
                       to enhance your communication efforts and reach
                       your audience effectively.
                   </p>
                   <button id="get-started">Get Started</button>
               </div>

               <div class="hero-right">
                   <img src="../static/assets/hero-section-image.png" alt="demo image">
               </div>
           </div>


           <div class="about-us" id="about_us">
                <h1>About Us</h1>
               <div class="about">
                   <img src="../static/assets/emai_image.png" alt="demo image">
                   <div class="about-right">
                       <h1>Welcome to <span>STILUG</span></h1>
                       <p>
                       Your trusted partner in email
                       verification solutions. At Stiluq, we understand
                       the importance of accurate and reliable email data in today's
                       digital landscape.<br> Our mission is to empower businesses, marketers,
                       and individuals with the tools they need to maintain clean, valid,
                       and responsive email lists.<br>

                        With years of expertise in the field, our team is passionate
                       about providing a seamless and efficient email verification experience.<br>
                       We take pride in offering a state-of-the-art platform that ensures your
                       communication efforts are based on verified and up-to-date information.<br>
                           As advocates for email deliverability,
                           we believe in the power of clean data to drive successful
                           communication strategies. Whether you're a small business owner,
                           a marketer, or an individual looking to enhance your email
                           outreach, Stiluq is here to support you.
                   </p>
                   </div>

               </div>

               <div class="about-details">
                   <div class="d-about">
                       <img src="../static/assets/icons8-email-100.png" alt="icon">
                       <h1>1700+</h1>
                       <p>Email Verified</p>
                   </div>

                   <div class="d-about">
                       <img src="../static/assets/icons8-happy-100.png" alt="icon">
                       <h1>40+</h1>
                       <p>Happy Customers</p>
                   </div>

                   <div class="d-about">
                       <img src="../static/assets/icons8-file-100.png" alt="icon">
                       <h1>120+</h1>
                       <p>Files Processed</p>
                   </div>

                   <div class="d-about">
                       <img src="../static/assets/icons8-wrong-pincode-100.png" alt="icon">
                       <h1>1350+</h1>
                       <p>Invalid Emails Removed</p>
                   </div>

               </div>
           </div>

           <div class="our-services" id="our_services">
               <h1>Our Services</h1>

               <div class="our-services-list">
                   <div class="service">
                       <img src="../static/assets/icons8-email-96.png">
                       <h2>Email Verification</h2>
                       <p>Swiftly verify emails with our app, ensuring accuracy
                           and reducing bounce rates. Enhance communication
                           and build a reliable contact list.
                       </p>

                   </div>
                   <div class="service">
                       <img src="../static/assets/icons8-folder-96.png">
                       <h2>File Backup</h2>
                       <p>Effortlessly safeguard your files with
                           our app's seamless backup, ensuring data
                           security and peace of mind in just a click.
                       </p>
                   </div>
                   <div class="service">
                       <img src="../static/assets/icons8-contact-96.png">
                       <h2>Contact Backup</h2>
                       <p>Safeguard your contacts effortlessly with our app's
                           streamlined backup. Never lose a contact again—secure
                           and reliable protection in a tap.
                       </p>
                   </div>
               </div>

           </div>

           <div class="contact-details" id="contact_us">
               <div class="d-contact">
                   <h4>Our customer service is available 24/7</h4>
                   <div class="inner-contact">
                       <img src="../static/assets/icons8-whatsapp-100.png" alt="icon">
                       <img src="../static/assets/icons8-phone-100.png" alt="icon">
                       <h1>+234-810-356-3270</h1>
                   </div>


                   <h1>Contact Us Now</h1>
               </div>
           </div>
           <div class="display-border">
               <img src="../static/assets/border.png" alt="image">
           </div>

           <div class="footer">

               <div class="footer-first">
                   <div class="footer-first-left">
                       <h1>Stiluq</h1>
                       <p>You do not have to go a long way to verify your
                           bulk emails anymore, Stiluq is there for you</p>

                       <div class="social-media">
                           <img src="../static/assets/icons8-facebook-48.png" alt="icon">
                           <img src="../static/assets/icons8-twitterx-50.png" alt="icon">
                           <img src="../static/assets/icons8-instagram-logo-48.png" alt="icon">
                       </div>
                   </div>

                   <div>
                       <h4>Quick Links</h4>

                       <div class="quick-links-div">
                           <a href="#landing-screen">Home</a>
                           <a href="#our_services">Services</a>
                           <a href="#about_us">About us</a>
                           <a href="#contact_us">Contact Us</a>
                       </div>

                   </div>

                   <div>
                       <h4>Services</h4>
                       <p>Email verification</p>
                       <p>Contact Backup</p>
                       <p>File Backup</p>
                   </div>

                   <div>
                       <h4>Contact Us</h4>
                       <p class="contact-info"><img src="../static/assets/icons8-location-50.png">Lagos State, Nigeria</p>
                       <p class="contact-info"><img src="../static/assets/icons8-call-50.png">+234-810-356-3270</p>
                       <p class="contact-info"><img src="../static/assets/icons8-email-50.png">stiluqInfo@gmail.com</p>
                   </div>
               </div>

               <div class="footer-second">
                   <p>© 2023 STILUQ. All rights reserved. Privacy Policy | Terms of Service.
                       Verified & Secured Email Delivery by Stiluq</p>
               </div>

           </div>

       </div>


        <div class="collector">
             <h1>Upload a File</h1>

            <form id="file-form" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input" required>
                <button type="submit">Upload</button>
            </form>

            <div class="center">
                <div class="loader" id="loader"></div>
                <div id="loader-text"></div>
            </div>
        </div>


    </div>

    <div class="signup-segment" id="signup-segment">
        <div class="signup-content">

            <div class="signup-first">
                <button class="cancel-button" id="cancel-signup">&times;</button>
                <h1 class="text"> Welcome to Stiluq</h1>
            </div>
            <h1 class="text">Sign Up</h1>
            <h3 id="signup-response"></h3>
            <form class="details" id="signup" method="post">
                <input type="text" placeholder="Enter your name" id="name" required>
                <input type="email" placeholder="Enter your preferred email " id="email" required>
                <input type="password" placeholder="Enter your password " id="password" required>
                <input type="number" placeholder="Enter your phone number" id="phone-number">

                <button class="button" id="submit-signup" type="submit">Sign-Up</button>

            </form>

            <div class="account"> Already have an account?
              <button class="login-button" id="login-button">Login Here</button>
            </div>
        </div>
    </div>

    <div class="login-segment" id ="login-segment">
        <div class="login-content">

            <div class="signin-first">
                <button class="cancel-button" id="cancel-login">&times;</button>
                <h1 class="text"> Welcome to Stiluq</h1>
            </div>

            <h1 class="text"> Log In</h1>
            <h3 class="login-response" id="login-response"></h3>

            <form class="details" id="signin">
                <input type="text" placeholder="Enter Username/Display name" id="user-username" required>
                <input type="email" placeholder="Enter email " id="signin-email" required>
                <input type="password" placeholder="Enter password " id="signin-password" required>

                <button class="signin-button" id="signin-button" type="submit">Login</button>
            </form>

            <p>Forgot password? <a class="forget" id="forget password"> click here</a></p>

        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>